# IDE directories
**/.idea
**/.vs
**/.vscode

# Build directories
**/target
**/dist
**/.gradle

# Python
**/__pycache__
**/.venv
**/venv
**/.pytest_cache
**/*.pyc
**/*.pyo
**/.env
**/*.pt
**/*.pkl
**/*.parquet

# Node.js
**/node_modules

# OS
.DS_Store

# Other
**/.lock
**/checkpoints
**/output
**/.aspire
**/*.sqlite
**/*.vsidx
**/*.wsuo
settings.local.json
